@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Sans-Serif';
    text-decoration: none;
    list-style-type: none;
}

*::-webkit-scrollbar {
    display: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 5px 0px 5px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

table {
    width: 100%;
    table-layout: fixed;
}

hr {
    margin: 5px 0;
    border-color: #ccc;
}

a:visited {
    color: inherit;
}

.items {
    width: 20%;
    padding: 0px 20px;
}

.logo {
    height: 200px;
    width: 100%;
}

.logo-image,
.profile-image {
    height: 50px;
    width: 50px;
}

.logo-name {
    color: blue;
    font-size: 25px;
    font-weight: 500;
}

.selectedItem {
    opacity: 1;
    background-color: blue;
    color: white;
    border-radius: 22px;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    padding: 10px 30px;
    margin: 0px 20px;
}

.item:hover {
    opacity: 0.8;
    background-color: blue;
    color: white;
    border-radius: 22px;
}



/*?#######*/

.data {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    width: 80%;
    background-color: skyblue;
    height: 100vh;
}

.control {
    height: 100px;
    width: 100%;
    padding: 30px 50px;
}

.search {
    width: 500px;
    height: 50px;
    border-radius: 25px;
    border: none;
    padding: 20px;
}

.admin-info {
    padding: 0px 10px;
}

.attributes {
    height: 100px;
    z-index: 100;
}

.rows {
    height: 100%;
}

.attributes table {
    background-color: rgb(23, 6, 117);
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    color: white;
    height: 100%;
    width: 100%;
}

.attributes,
.rows {
    width: 100%;
    overflow: scroll;
}

.rows table tr {
    box-shadow: 0 4px 2px -2px #fff;
}

.rows table td {
    color: white;
    /* border-bottom: 1px black solid; */
}

th,
td {
    text-align: left;
    padding: 15px 20px;
    /* white-space: nowrap; */
}

.create {
    height: calc(100% - 100px);
    width: 100%;
    background-color: white;
    border-radius: 50px 30px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

form {
    height: 100%;
}

.formy {
    width: 700px;
    /* height: 2000px; */
    background-color: grey;
    overflow: scroll;
}

.inputsin {
    width: 1000px;
    height: calc(100% - 200px);
    /* background-color: red; */
    overflow: scroll;
}

.inputs {
    overflow: scroll;
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
    gap: 50px,
}

.inputs select,
.formy select,
.inputs input,
.formy input {
    width: 250px;
    padding: 10px 20px;
    width: 250px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.decision,
.title {
    height: 100px;
    padding: 15px;
}

.create .decision input[type='submit'] {
    width: 130px;
    padding: 10px 20px;
    border: 2px blue solid;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    color: blue;
}

.btn-cancel {
    width: 130px;
    padding: 10px 20px;
    border: 2px blue solid;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    color: blue;
}




.create-form {
    height: 100vh;
    width: 100%;
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}

.inputs .field,
.formy .field {
    display: flex;
    flex-direction: column;
    /* margin: 30px; */
    padding: 20px;
    width: 250px;
    /* background-color: blue; */
}

/* .formy .field input {
    margin-bottom: 10px;
    padding: 10px 20px;
    width: 250px;
} */

/* .formy input {
    width: 250px;
    padding: 10px 20px;
    margin: 10px;
} */