@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Sans-Serif";
}

body {
    background: #e4e9f7;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.form-box {
    width: 450px;
}

.form-box header {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.form-box form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-box form .input input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.form-box form .input input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

#submit {
    background: #1345d0;
    height: 40px;
    font-size: 16px;
    color: #FFF;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
}

#submit:hover {
    opacity: 0.8;
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.links a,
.links a:visited {
    color: #1345d0;
}

.links a:hover {
    opacity: 0.8;
}